.LoginPage_Form {
    padding: 20px;
    width: 300px;
    background-color: white;
    border: 1px solid hsl(0, 0%, 90%);
    box-shadow: 0 10px 20px hsl(0, 0%, 0%, 0.2);
}

.LoginPage_Form-icon {
    width: 100%;
    border: 20px solid white;
    margin-right: auto;
    margin-left: auto;
}

.LoginPage_Form-icon-content {
    padding-bottom: 50%;
    background-size: contain;
    background-position: center center;
}

.LoginPage_Form-title {
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
}

.LoginPage_Form-subtitle {
    text-align: center;
    margin-bottom: 20px;
    color: hsl(0, 0%, 60%);
}
