.LoginPage_Main {
    height: 100%;
    background-size: 100% 100%;
    background-color: var(--color_background);
    padding: 20px;
    text-align: center;
    overflow: auto;
}

.LoginPage_Main-aligner {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.LoginPage_Main-content {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}
