.PeriodSelect_Menu {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 5px;
}

.PeriodSelect_Menu-button {
    --padding_h: 10px;
    --padding_v: 5px;
    --icon_size: 18px;
    display: inline-block;
    vertical-align: top;
    padding: var(--padding_v) calc(var(--padding_h) + var(--icon_size)) var(--padding_v) var(--padding_h);
    background-color: hsl(0, 0%, 90%);
    background-size: var(--icon_size) var(--icon_size);
    background-position: calc(100% - 6px) center;
    cursor: pointer;
}
.PeriodSelect_Menu-button:focus {
    box-shadow: 0 0 0 2px hsl(30, 100%, 50%, 0.5);
}
.PeriodSelect_Menu-button:hover {
    background-color: hsl(0, 0%, 85%);
}
.PeriodSelect_Menu-button.active,
.PeriodSelect_Menu-button:active {
    background-color: hsl(0, 0%, 80%);
}

.PeriodSelect_Menu-menu {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 100%;
    box-shadow: 0 5px 10px hsl(0, 0%, 0%, 0.2);
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 5px;
}
.PeriodSelect_Menu-menu.hidden {
    display: none;
}

.PeriodSelect_Menu-item {
    padding: 5px 10px;
    cursor: pointer;
}
.PeriodSelect_Menu-item:hover {
    background-color: hsl(0, 0%, 95%);
}
.PeriodSelect_Menu-item:active {
    background-color: hsl(0, 0%, 90%);
}
