.Period_Chart {
    position: absolute;
    top: 0;
    right: 0;
    left: 110px;
    height: 20px;
    background-color: hsl(0, 0%, 90%);
    overflow: hidden;
}

.Period_Chart-item {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: hsl(130, 40%, 50%);
}

.Period_Chart-item-fail {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: hsl(0, 80%, 85%);
}

.Period_Chart-item-success {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: hsl(130, 60%, 60%);
}
