.Period_ItemLine {
    position: relative;
    height: 20px;
}
.Period_ItemLine.next {
    margin-top: 1px;
}

.Period_ItemLine-name {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}
