.Period_Item {
    display: inline-block;
    vertical-align: top;
    width: 100%;
}

.Period_Item-title {
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    padding: 10px;
}

.Period_Item-content {
    padding: 10px;
}
