.Form_Button {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    background-color: var(--color_main);
    color: white;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
}
.Form_Button:focus {
    box-shadow: 0 0 0 2px hsl(30, 100%, 50%, 0.5);
}
.Form_Button:hover {
    background-color: var(--color_main_hover);
}
.Form_Button:active {
    background-color: var(--color_main_active);
}
