.Dialog {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--color_transparent);
    z-index: 2;
    text-align: center;
    padding: 20px;
    overflow: auto;
}

.Dialog-aligner {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.Dialog-content {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    background-color: white;
    padding: 20px;
    width: 100%;
    max-width: 340px;
    box-shadow: 0 10px 20px hsl(0, 0%, 0%, 0.2);
}
