.Top {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: var(--color_main);
    color: white;
    padding-right: 5px;
    padding-left: 5px;
    display: flex;
    justify-content: space-between;
    background-size: 100% 100%;
}

.Top-title {
    padding: 15px;
    font-weight: bold;
}
