.TopButton {
    display: inline-block;
    vertical-align: top;
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 50%;
    background-size: 27px 27px;
    background-position: center center;
    cursor: pointer;
    position: relative;
}
.TopButton:hover {
    background-color: var(--color_top_hover);
}
.TopButton:active {
    background-color: var(--color_top_active);
}

.TopButton-tip {
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 5px;
    padding: 5px;
    background-color: hsl(0, 0%, 0%, 0.8);
    white-space: nowrap;
    pointer-events: none;
    opacity: 0;
}
.TopButton:hover > .TopButton-tip {
    opacity: 1;
}

.TopButton-tip-arrow {
    position: absolute;
    top: -5px;
    right: 15px;
    width: 10px;
    border-right: 5px solid transparent;
    border-bottom: 5px solid hsl(0, 0%, 0%, 0.8);
    border-left: 5px solid transparent;
}
